.button{
    border-radius: 1.6rem;
    border: 1px solid $color-gray-4D;
    width: 7.4rem;
    height: 2.4rem;

    font-size: 14px;
    line-height: 17px;
    text-align:center;

    display:flex;
    justify-content: center;
    align-items:center;

}